<ul>
	<% if artisan_signed_in? %>
		<li>
			<%= link_to "Sign out", destroy_artisan_session_path, method: :delete %>
		</li>
		<li>
			<%= current_artisan.email %>
		</li>
		<li>
			<%= current_artisan.first_name %>
		</li>

	<% else %>
		<li>
			<%= link_to "Sign in", new_artisan_session_path %>
		</li>
		<li>
			<%= link_to "Sign UP", new_artisan_registration_path %>
		</li>
	<% end %>
</ul>

<h1>Artisan#index</h1>
<p>Find me in app/views/artisan/index.html.erb</p>
