<h4>Récapitulatif de votre panier</h4>

<table>
	<thead>
		<td>Article</td>
		<td>Quantité</td>
		<td>Prix</td>
	</thead>
	<%= form_tag(new_order_path, method: "create") do %>
	<tbody>
	<%= @cart.cart_items.each_with_index |cart_item, i| %>
		<tr>
			<td><img >
				<h5><%= Item.find(cart_item.item_id).title %></h5>
			</td>
			<td> <%= cart_item.quantity %> </td>
			<td> <%= cart_item.quantity * cart_item.price </td>

		    <%= hidden_field_tag(item[i], cart_item) %>

		</tr>
	<% end %>
	</tbody>
</table>

    <% end %>


<h4>Choisissez votre mode de livraison</h4>
    <%= text_field_tag(:address) %>
    <%= submit_tag("Valider ma commande", class: "btn btn-info") %>
    <% end %>

<h4>Montant à régler : <%= @cart_total_price %> €

<!-- TEMPLATE A ADAPTER AU CODE CI-DESSUS -->
<!-- <table class="table cart">
	<thead>
	  <tr>
	    <th>Product </th>
	    <th>Price </th>
	    <th>Quantity</th>
	    <th class="amount">Total </th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td class="product"><a href="shop-product.html">Product Title 1</a> <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas inventore modi.</small></td>
	    <td class="price">$99.50 </td>
	    <td class="quantity">
	      <div class="form-group">
	        <input type="text" class="form-control" value="2" disabled>
	      </div>                      
	    </td>
	    <td class="amount">$199.00 </td>
	  </tr>
	  <tr>
	    <td class="product"><a href="shop-product.html">Product Title 2</a> <small>Quas inventore modi</small></td>
	    <td class="price"> $99.66 </td>
	    <td class="quantity">
	      <div class="form-group">
	        <input type="text" class="form-control" value="3" disabled>
	      </div>                      
	    </td>
	    <td class="amount">$299.00 </td>
	  </tr>
	  <tr>
	    <td class="product"><a href="shop-product.html">Product Title 3</a> <small>Fugiat nemo enim officiis repellendus</small></td>
	    <td class="price"> $499.66 </td>
	    <td class="quantity">
	      <div class="form-group">
	        <input type="text" class="form-control" value="3" disabled>
	      </div>                      
	    </td>
	    <td class="amount">$1499.00 </td>
	  </tr>
	  <tr>
	    <td class="total-quantity" colspan="3">Subtotal</td>
	    <td class="amount">$1997.00</td>
	  </tr>
	  <tr>                    
	    <td class="total-quantity" colspan="2">Discount Coupon</td>
	    <td class="price">TheProject25672</td>
	    <td class="amount">-20%</td>
	  </tr>
	  <tr>
	    <td class="total-quantity" colspan="3">Total 8 Items</td>
	    <td class="total-amount">$1597.00</td>
	  </tr>
	</tbody>
</table> -->