<h4>Récapitulatif de votre panier</h4>

<table>
	<thead>
		<td>Article</td>
		<td>Quantité</td>
		<td>Prix</td>
	</thead>
	<%= form_tag(new_order_path, method: "create") do %>
	<tbody>
	<%= @cart.cart_items.each_with_index |cart_item, i| %>
		<tr>
			<td><img >
				<h5><%= Item.find(cart_item.item_id).title %></h5>
			</td>
			<td> <%= cart_item.quantity %> </td>
			<td> <%= cart_item.quantity * cart_item.price </td>

		    <%= hidden_field_tag(item[i], cart_item) %>

		</tr>
	<% end %>
	</tbody>
</table>

    <% end %>


<h4>Choisissez votre mode de livraison</h4>
    <%= text_field_tag(:address) %>
    <%= submit_tag("Valider ma commande", class: "btn btn-info") %>
    <% end %>

<h4>Montant à régler : <%= @cart_total_price %> €