
<!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      

      <div id="page-start"></div>

      <!-- section start -->
      <!-- ================ -->
      <section class="section light-gray-bg clearfix">
        <div class="container">
          <div class="row">
            <div class="col-md-12"> 
              <!-- Tab panes -->
              <div class="tab-content clear-style">
                <div class="tab-pane active" id="pill-1">
                  <div class="row grid-space-10">
                  <% Item.all.each do |item| %>
                    <div class="col-lg-3 col-md-6">
                      <div class="listing-item white-bg bordered mb-20">
                        <div class="overlay-container">
                          <div class="image_item_container">
                            <%= image_tag item.image_url, class:'image_item' %>
                          </div>
                            <%= link_to item_path(item.id), class:"overlay-link" do %>
                    
                          <% end %>
                        </div>
                        <div class="body">
                          <h3><%= link_to item.title, item_path(item.id) %></h3>
                          <p class="small"><%= item.description %></p>
                          <div class="elements-list clearfix">
                            <span class="price"><%= item.price %> €</span>

                            <% begin %>
                              <%= form_tag(cart_item_path(CartItem.find_by(cart_id: current_cart.id, item_id: item.id).id), method: "patch") do %>
                                <%= hidden_field_tag 'selected_item', item.id %>
                                <%= hidden_field_tag 'quantity', 1 %>
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                <%= button_tag(type: "submit", class: "pull-right margin-clear btn btn-sm btn-default-transparent btn-animated") do%>
                                  Add To Cart<i class="fa fa-shopping-cart"></i>
                                <% end %>
                              <% end %>
                            <% rescue %>
                              <%= form_tag(cart_items_path, method: "create") do %>
                                <%= hidden_field_tag 'selected_item', item.id %>
                                <%= hidden_field_tag 'quantity', 1 %>
                                <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
                                <%= button_tag(type: "submit", class: "pull-right margin-clear btn btn-sm btn-default-transparent btn-animated") do%>
                                  Add To Cart<i class="fa fa-shopping-cart"></i>
                                <% end %>
                              <% end %>
                            <% end %>

<!--                            <a href="#" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated">Add To Cart<i class="fa fa-shopping-cart"></i></a> -->

                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
              <!-- pills end -->
            </div>
          </div>
        </div>
      </section>
      <!-- section end -->
    </div>
    <!-- page-wrapper end -->
