<%= @items.each do |item| %>
	<h5><%= item.title %></h5> 
	<p><%= item.price %>€  </p>
	<% begin %>
		<%= form_tag(cart_item_path(CartItem.find_by(cart_id: @cart.id, item_id: item.id).id), method: "patch") do %>
			    <%= hidden_field_tag 'id', item.id %>
	        <%= submit_tag("Ajouter au panier", class: "btn btn-info") %>
		<% end %>
	<% rescue %>
		<%= form_tag(cart_items_path, method: "create") do %>
		    <%= hidden_field_tag 'id', item.id %>
	        <%= submit_tag("Ajouter au panier", class: "btn btn-info") %>
		<% end %>
	<% end %>
	<br/>
<% end %>