<!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="index.html">   <img id="logo_img" src="../../assets/images/logo_dark_cyan.png" alt="The Project"></a>
                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    Multipurpose HTML5 Template
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 ml-auto">
          
                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <div class="main-navigation main-navigation--mega-menu  animated">
                  <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <div class="navbar-brand clearfix hidden-lg-up">

                      <!-- logo -->
                      <div id="logo-mobile" class="logo">
                        <a href="index.html"><img id="logo-img-mobile" src="images/logo_dark_cyan.png" alt="The Project"></a>
                      </div>

                      <!-- name-and-slogan -->
                      <div class="site-slogan">
                        Multipurpose HTML5 Template
                      </div>

                    </div>
                    
                    <!-- header dropdown buttons -->
                    <div class="header-dropdown-buttons hidden-lg-up p-0 ml-auto mr-3">
                      <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-3">
                          <li>
                            <form role="search" class="search-box margin-clear">
                              <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Search">
                                <i class="fa fa-search form-control-feedback"></i>
                              </div>
                            </form>
                          </li>
                        </ul>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="cart-count default-bg">8</span></button>
                        <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-4">
                          <li>
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th class="quantity">QTY</th>
                                  <th class="product">Product</th>
                                  <th class="amount">Subtotal</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="quantity">2 x</td>
                                  <td class="product"><a href="shop-product.html">Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                  <td class="amount">$199.00</td>
                                </tr>
                                <tr>
                                  <td class="quantity">3 x</td>
                                  <td class="product"><a href="shop-product.html">Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                  <td class="amount">$299.00</td>
                                </tr>
                                <tr>
                                  <td class="quantity">3 x</td>
                                  <td class="product"><a href="shop-product.html">Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                                  <td class="amount">$1499.00</td>
                                </tr>
                                <tr>
                                  <td class="total-quantity" colspan="2">Total 8 Items</td>
                                  <td class="total-amount">$1997.00</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="panel-body text-right">
                              <a href="shop-cart.html" class="btn btn-group btn-gray btn-sm">View Cart</a>
                              <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- header dropdown buttons end -->
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                      <!-- main-menu -->
                      <ul class="navbar-nav ml-xl-auto">
                        <li><%= link_to 'LOGIN', root_path, class: "nav-link" %></li>
                        <li><%= link_to 'SIGNUP', root_path, class: "nav-link" %></li>
                      </ul>
                      <!-- main-menu end -->
                    </div>
                  </nav>
                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->

              </div>
              <div class="col-auto hidden-md-down">
                <!-- header dropdown buttons -->
                <div class="header-dropdown-buttons">
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-animation" aria-labelledby="header-drop-1">
                      <li>
                        <form role="search" class="search-box margin-clear">
                          <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="Search">
                            <i class="fa fa-search form-control-feedback"></i>
                          </div>
                        </form>
                      </li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle dropdown-toggle--no-caret" id="header-drop-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-basket"></i><span class="cart-count default-bg">8</span></button>
                    <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-2">
                      <li>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th class="quantity">QTY</th>
                              <th class="product">Product</th>
                              <th class="amount">Subtotal</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="quantity">2 x</td>
                              <td class="product"><a href="shop-product.html">Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                              <td class="amount">$199.00</td>
                            </tr>
                            <tr>
                              <td class="quantity">3 x</td>
                              <td class="product"><a href="shop-product.html">Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                              <td class="amount">$299.00</td>
                            </tr>
                            <tr>
                              <td class="quantity">3 x</td>
                              <td class="product"><a href="shop-product.html">Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                              <td class="amount">$1499.00</td>
                            </tr>
                            <tr>
                              <td class="total-quantity" colspan="2">Total 8 Items</td>
                              <td class="total-amount">$1997.00</td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="panel-body text-right">
                          <a href="shop-cart.html" class="btn btn-group btn-gray btn-sm">View Cart</a>
                          <a href="shop-checkout.html" class="btn btn-group btn-gray btn-sm">Checkout</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- header dropdown buttons end -->
              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Shop Product</li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title"><%= @item.title %></h1>
              <div class="separator-2"></div>
              <!-- page-title end -->

              <div class="row">
                <div class="col-lg-4">
                
                  <%= image_tag @item.image_url %>
                  
                  <!-- Tab panes -->
                  <div class="tab-content clear-style">
                    <div class="tab-pane active" id="pill-1">
                      <div class="slick-carousel content-slider-with-large-controls">
                        <div class="overlay-container overlay-visible">
                          <img src="../../assets/images/product-1.jpg" alt="">
                          <a href="images/product-1.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                        </div>
                        <div class="overlay-container overlay-visible">
                          <img src="../../assets/images/product-1.jpg" alt="">
                          <a href="images/product-1-2.jpg" class="slick-carousel--popup-img overlay-link" title="image title"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="pill-2">
                      <div class="overlay-container">
                        <img src="images/page-about-2.jpg" alt="">
                        <a class="overlay-link" href="#"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- pills end -->
                </div>
                <div class="col-lg-8 pv-30">
                  <h2 class="mt-4">Description</h2>
                  <p><%= @item.description %></p>
                  <hr class="mb-10">
                  <div class="clearfix mb-20">
                    <span>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star text-default"></i>
                      <i class="fa fa-star"></i>
                    </span>
                    <a href="#" class="wishlist"><i class="fa fa-heart-o pl-10 pr-1"></i>Wishlist</a>
                    <ul class="pl-20 pull-right social-links circle small clearfix margin-clear animated-effect-1">
                      <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                  </div>
                    <form class="clearfix row grid-space-10">
                        <div class="form-group col-lg-4">
                          <label>Quantity</label>
                          <input type="text" class="form-control" value="1">
                        </div>
                        <div class="form-group col-lg-4">
                          <label>Color</label>
                          <select class="form-control">
                            <option>Red</option>
                            <option>White</option>
                            <option>Black</option>
                            <option>Blue</option>
                            <option>Orange</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-4">
                          <label>Size</label>
                          <select class="form-control">
                            <option>5.3"</option>
                            <option>5.7"</option>
                          </select>
                        </div>
                    </form>
                  <div class="light-gray-bg p-20 bordered clearfix">
                    <span class="product price"><i class="fa fa-tag pr-10"></i>$99.00</span>
                    <div class="product elements-list pull-right clearfix">
                      <input type="submit" value="Add to Cart" class="margin-clear btn btn-default">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <section class="pv-30 light-gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs style-4" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#h2tab2" role="tab" data-toggle="tab"><i class="fa fa-files-o pr-1"></i>Specifications</a></li>
                <li class="nav-item"><a class="nav-link" href="#h2tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-1"></i>(3) Reviews</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content padding-top-clear padding-bottom-clear">
                <div class="tab-pane active" id="h2tab2">
                  <h4 class="space-top">Specifications</h4>
                  <hr>
                  <dl class="row">
                    <dt class="col-sm-3 text-sm-right">Consectetur</dt>
                    <dd class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</dd>
                    <dt class="col-sm-3 text-sm-right">Culla</dt>
                    <dd class="col-sm-9">Adipisci autem illo hic itaque nulla velit quod laboriosam ipsum in illum!</dd>
                    <dt class="col-sm-3 text-sm-right">Quas</dt>
                    <dd class="col-sm-9">Velit mollitia vel nemo, repudiandae quas nisi consectetur maiores beatae.</dd>
                    <dt class="col-sm-3 text-sm-right">Sapiente</dt>
                    <dd class="col-sm-9">Dolor, architecto, accusamus. Explicabo, culpa hic sapiente amet libero, recusandae laudantium consequatur velit possimus ratione quo. Ipsum maxime officia quasi quos magni!</dd>
                    <dt class="col-sm-3 text-sm-right">Dignissimos</dt>
                    <dd class="col-sm-9">Odio cum deleniti mollitia, quisquam dignissimos voluptatem, unde rem alias.</dd>
                    <dt class="col-sm-3 text-sm-right">Adipisicing</dt>
                    <dd class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora rerum veritatis nam blanditiis.</dd>
                    <dt class="col-sm-3 text-sm-right">Werspiciatis</dt>
                    <dd class="col-sm-9">Rem nostrum sit magnam debitis quidem perspiciatis fuga fugit.</dd>
                  </dl>
                  <hr>
                </div>
                <div class="tab-pane" id="h2tab3">
                  <!-- comments start -->
                  <div class="comments margin-clear space-top">
                    <!-- comment start -->
                    <div class="comment clearfix">
                      <div class="comment-avatar">
                        <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                      </div>
                      <header>
                        <h3>Amazing!</h3>
                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 12:31</div>
                      </header>
                      <div class="comment-content">
                        <div class="comment-body clearfix">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                          <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                        </div>
                      </div>
                    </div>
                    <!-- comment end -->

                    <!-- comment start -->
                    <div class="comment clearfix">
                      <div class="comment-avatar">
                        <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                      </div>
                      <header>
                        <h3>Really Nice!</h3>
                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 10:31</div>
                      </header>
                      <div class="comment-content">
                        <div class="comment-body clearfix">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                          <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                        </div>
                      </div>
                    </div>
                    <!-- comment end -->

                    <!-- comment start -->
                    <div class="comment clearfix">
                      <div class="comment-avatar">
                        <img class="rounded-circle" src="images/avatar.jpg" alt="avatar">
                      </div>
                      <header>
                        <h3>Worth to Buy!</h3>
                        <div class="comment-meta"> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star text-default"></i> <i class="fa fa-star"></i> | Today, 09:31</div>
                      </header>
                      <div class="comment-content">
                        <div class="comment-body clearfix">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                          <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i> Reply</a>
                        </div>
                      </div>
                    </div>
                    <!-- comment end -->
                  </div>
                  <!-- comments end -->

                  <!-- comments form start -->
                  <div class="comments-form">
                    <h2 class="title">Add your Review</h2>
                    <form>
                      <div class="form-group has-feedback">
                        <label for="name4">Name</label>
                        <input type="text" class="form-control" id="name4" placeholder="" required>
                        <i class="fa fa-user form-control-feedback"></i>
                      </div>
                      <div class="form-group has-feedback">
                        <label for="subject4">Subject</label>
                        <input type="text" class="form-control" id="subject4" placeholder="" required>
                        <i class="fa fa-pencil form-control-feedback"></i>
                      </div>
                      <div class="form-group">
                        <label>Rating</label>
                        <select class="form-control" id="review">
                          <option value="five">5</option>
                          <option value="four">4</option>
                          <option value="three">3</option>
                          <option value="two">2</option>
                          <option value="one">1</option>
                        </select>
                      </div>
                      <div class="form-group has-feedback">
                        <label for="message4">Message</label>
                        <textarea class="form-control" rows="8" id="message4" placeholder="" required></textarea>
                        <i class="fa fa-envelope-o form-control-feedback"></i>
                      </div>
                      <input type="submit" value="Submit" class="btn btn-default">
                    </form>
                  </div>
                  <!-- comments form end -->
                </div>
              </div>
            </div>

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-lg-4 col-xl-3 ml-xl-auto">
              <div class="sidebar">
                <div class="block clearfix">
                  <h3 class="title">Related Products</h3>
                  <div class="separator-2"></div>
                  <div class="media margin-clear">
                    <div class="d-flex pr-2">
                      <div class="overlay-container">
                        <img class="media-object" src="images/product-5.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading"><a href="shop-product.html">Lorem ipsum dolor sit amet</a></h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                      </p>
                      <p class="price">$99.00</p>
                    </div>
                  </div>
                  <hr>
                  <div class="media margin-clear">
                    <div class="d-flex pr-2">
                      <div class="overlay-container">
                        <img class="media-object" src="images/product-6.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading"><a href="shop-product.html">Eum repudiandae ipsam</a></h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                      </p>
                      <p class="price">$299.00</p>
                    </div>
                  </div>
                  <hr>
                  <div class="media margin-clear">
                    <div class="d-flex pr-2">
                      <div class="overlay-container">
                        <img class="media-object" src="images/product-7.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading"><a href="shop-product.html">Quia aperiam velit fuga</a></h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                      </p>
                      <p class="price">$9.99</p>
                    </div>
                  </div>
                  <hr>
                  <div class="media margin-clear">
                    <div class="d-flex pr-2">
                      <div class="overlay-container">
                        <img class="media-object" src="images/product-8.jpg" alt="blog-thumb">
                        <a href="shop-product.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="media-heading"><a href="shop-product.html">Fugit non natus officiis</a></h6>
                      <p class="margin-clear">
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star text-default"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </p>
                      <p class="price">$399.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
            <!-- sidebar end -->

          </div>
        </div>
      </section>
      <!-- section end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2018. All rights reserved.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->