<!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="fa fa-angle-up"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="/"></a></li>
            <li class="breadcrumb-item active"><%= @item.title %></li>
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              <div class='row'> 
                <h1 class="page-title mr-auto"><%= @item.title %></h1>
                <span class="product price pull-right"><i class="fa fa-tag pr-10"></i><%= @item.price %> €/u</span>
              </div>

              <div class="separator-2"></div>
              <!-- page-title end -->

              <div class="row">
                <div class="col-lg-4">
                
                  <%= image_tag @item.image_url %>
                  
                  <!-- pills end -->
                </div>
                <div class="col-lg-8 pv-30">
                  <h2 class="mt-4">Description</h2>
                  <p><%= @item.description %></p>
                  <hr class="mb-10">


                    <% begin %>
                      <%= form_tag(cart_item_path(CartItem.find_by(cart_id: current_cart.id, item_id: params[:id]).id), method: "patch") do %>
                      <div class ='row align-items-center'>

                          <span>Quantity</span> <%= text_field_tag 'quantity','1', class:"form-group mb-0 col-lg-1 form-control ml-2 pl-2 mr-auto" %>
                          <%= hidden_field_tag 'id', @item.id %>
                          <%= button_tag(type: "submit", class: "pull-right margin-clear btn btn-default-transparent btn-animated") do%>
                            Add To Cart<i class="fa fa-shopping-cart"></i>
                          </div>
                          <% end %> 
                        <% end %>
                    <% rescue %>
                      <%= form_tag(cart_items_path, method: "create") do %>
                       <div class ='row'> 
                          Quantity <%= text_field_tag 'quantity','1', class:"text-right w-100 form-group col-lg-1 form-control pl-2 mr-auto" %>
                          <%= hidden_field_tag 'id', @item.id %>
                          <%= button_tag(type: "submit", class: "pull-right margin-clear btn btn-default-transparent btn-animated") do%>
                            Add To Cart<i class="fa fa-shopping-cart"></i>
                          </div>
                          <% end %> 
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- main end -->

          </div>
        </div>
      </section>
      <!-- main-container end -->
    </div>
    <!-- page-wrapper end -->