     <div class= 'personal_info'> 
            <h3 class="title">Account info</h3>
             <form>
                <div class="form-group">
                  <label>Email address</label>
                  <input type="email" class="form-control" value="<%= current_artisan.email %>">
                </div>
                <div class="form-group">
                  <label> Password</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>                                      
                <%= link_to 'Edit', edit_artisan_path, :class => "btn btn-default" %>           
              </form>       
          </div>



        <div class= 'shipping_info'> 
            <h3 class="title">Shipping Info</h3>
             <form>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="email" class="form-control" value="<%= current_artisan.email %>">
                </div>
                <div class="form-group">
                  <label> Adress</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                  <label>City</label>
                  <input type="email" class="form-control" value="<%= current_artisan.email %>">
                </div>
                <div class="form-group">
                  <label> Postal code</label>
                  <input type="password" class="form-control" placeholder="Password">
                </div>
               
                <%= link_to 'Edit', edit_artisan_path, :class => "btn btn-default" %> 
              </form>       
          </div>

        <div class='shipping_info'> 
            <h3 class="title">My orders</h3>
            <div class="separator-2"></div>

            <% if current_artisan.orders.count > 0 %>
              <% render 'order/index' %>
            <% else %>
              <h4 class='text-center'>You have no past order</h4>
            <% end %> 
          </div>